{% extends "templateStory2.html" %}
    {% block title %} Story2-About {% endblock%}
    {% block content%}
    <div class="textboxtitle">
        Salam dari Developer
    </div>
    <div class = "container" style ="margin-left: 250px; margin-right: 200px; margin-top: 25px;">
        <div class="textbox" >
            <p style="font-size: 25px;">Halo, nama saya Mikhael Deo Barli</p>
            <p> Sekarang saya sedang mengemban ilmu dalam bidang Ilmu Komputer</p>
            <img src="/static/CV.JPG" class="img-responsive" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
        </div>
    </div>
    {% endblock %}