{% extends "templateStory2.html" %}
    {% block title %} {{MatKul.name}} {% endblock%}
    {% block content%}
    <div class="textboxtitle">
        {{MatKul.name}}
    </div>

    <div class = "container" style ="margin-left: 250px; margin-right: 200px; margin-top: 25px;">
        <div class="textbox">
            <p>SKS         :{{MatKul.sks}}</p>
            <p>IP          :{{MatKul.ip}}</p>
            <p>Dosen       :{{MatKul.dosen}}}</p>
            <p>Kelas       :{{MatKul.kelas}}</p>
            <p>Semester    :{{MatKul.semester}}</p>
            <p>Deskripsi   :{{MatKul.desc}}</p>
        </div>
    </div>
    {% endblock %}