{% extends "templateStory2.html" %}
    {% block title %} Story2-Forms {% endblock%}
    {% block content%}
    <div class="textboxtitle">
        Story2-Forms
    </div>
    <div class="textbox" style="margin-top: 125px; margin-left: 250px; margin-right: 250px;">
        <form action="{% url 'Story2:home' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
      </form>
    </div>
    
    {% endblock %}