/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div{
      font-size: 10px;
    }
      
    img{
      width: 35%;
    }
  
    .sidebar {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 5%; /* 5% from navbar template */
      left: 0; /* Stay on left */
      background-color: rgb(255, 191, 53); /* Inherit from Navbar */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    }
            
    /* The sidebar links */
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 10px;
      color: white;
      display: block;
      transition: 0.3s;
    }
            
    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
      background-color: #f1f1f1;
    }
            
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
            
    /* The button used to open the sidebar */
    .openbtn {
      font-size: 10px;
      cursor: pointer;
      background-color:  rgb(255, 191, 53);
      color: white;
      padding: 10px 15px;
      border: none;
    }
            
    .openbtn:hover {
      background-color: #444;
    }
            
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
      transition: margin-left .5s; /* If you want a transition effect */
      padding: 20px;
    }

    div#accordion{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: rgb(248, 194, 114);
    }

    ul#sortable { 
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60%;
      background-color: rgb(248, 194, 114);
    }

    ul#sortable li { 
      margin: 0px 0px 25px 25px;
      padding: 25px 250px 25px 25px;
      font-size: 25px;
      height: 25px;
      background-color: rgb(253, 224, 128);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    
    ul#sortable li span { 
      position: absolute;
      margin-left: -1.3em;
    }
    
    .articles{
      width: 400px;
      height: 150px;
      display: flex;
      flex-direction: row;
      box-shadow: 4px 7px 29px 0px rgba(69,69,69,0.3);
      margin: 10px;
      border-style: ridge;
      border: 5px;
      border-color: black;
      align-items: center;
      justify-content: flex-start;
    }
  
    .articles-details{
      height: 100%;
    }
  
    .img-fluid.img-thumbnail{
      height: 150px;
      width: 200px;
    }
  
    .articles-img{
      height: 100%;
      width: 65%;
    }
  
    .articles-desc{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: justify;
      align-items: flex-start;
      flex-wrap:wrap;
    }
  
    .articles-desc.title{
      max-height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .articles-desc.fill{
      display: flex;
    }
  
    .img-fluid.details{
      all:unset;
      bottom: 0;
      max-height: 200px;
      max-width: 300px;
    }  
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    div{
      font-size: 12px;
    }
      
    img{
      width: 35%;
    }
  
    .sidebar {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 5%; /* 5% from navbar template */
      left: 0; /* Stay on left */
      background-color:  rgb(255, 191, 53); /* Inherit from Navbar */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    }
            
    /* The sidebar links */
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 12px;
      color: white;
      display: block;
      transition: 0.3s;
    }
            
    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
      background-color: #f1f1f1;
    }
            
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
            
    /* The button used to open the sidebar */
    .openbtn {
      font-size: 12px;
      cursor: pointer;
      background-color: rgb(255, 191, 53);
      color: white;
      padding: 10px 15px;
      border: none;
    }
            
    .openbtn:hover {
      background-color: #444;
    }
            
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
      transition: margin-left .5s; /* If you want a transition effect */
      padding: 20px;
    }

    div#accordion{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: rgb(248, 194, 114);
    }

    ul#sortable { 
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60%;
      background-color: rgb(248, 194, 114);
    }

    ul#sortable li { 
      margin: 0px 0px 25px 25px;
      padding: 25px 250px 25px 25px;
      font-size: 25px;
      height: 25px;
      background-color: rgb(253, 224, 128);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    
    ul#sortable li span { 
      position: absolute;
      margin-left: -1.3em;
    }
    
    .articles{
      width: 450px;
      height: 180px;
      display: flex;
      flex-direction: row;
      box-shadow: 4px 7px 29px 0px rgba(69,69,69,0.3);
      margin: 20px;
      border-style: ridge;
      border: 5px;
      border-color: black;
      align-items: center;
      justify-content: flex-start;
    }
  
    .articles-details{
      height: 100%;
    }
  
    .img-fluid.img-thumbnail{
      height: 180px;
      width: 240px;
    }
  
    .articles-img{
      height: 100%;
      width: 65%;
    }
  
    .articles-desc{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: justify;
      align-items: flex-start;
      flex-wrap:wrap;
    }
  
    .articles-desc.title{
      max-height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .articles-desc.fill{
      display: flex;
    }
  
    .img-fluid.details{
      all:unset;
      bottom: 0;
      max-height: 200px;
      max-width: 300px;
    }  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    div{
      font-size: 15px;
    }
      
    img{
      width: 35%;
    }
  
    .sidebar {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 5%; /* 5% from navbar template */
      left: 0; /* Stay on left */
      background-color: rgb(255, 191, 53); /* Inherit from Navbar */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    }
            
    /* The sidebar links */
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 15px;
      color: white;
      display: block;
      transition: 0.3s;
    }
            
    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
      background-color: #f1f1f1;
    }
            
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
            
    /* The button used to open the sidebar */
    .openbtn {
      font-size: 15px;
      cursor: pointer;
      background-color:  rgb(255, 191, 53);
      color: white;
      padding: 10px 15px;
      border: none;
    }
            
    .openbtn:hover {
      background-color: #444;
    }
            
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
      transition: margin-left .5s; /* If you want a transition effect */
      padding: 20px;
    }

    div#accordion{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: rgb(248, 194, 114);
    }

    ul#sortable { 
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60%;
      background-color: rgb(248, 194, 114);
    }

    ul#sortable li { 
      margin: 0px 0px 25px 25px;
      padding: 25px 250px 25px 25px;
      font-size: 25px;
      height: 25px;
      background-color: rgb(253, 224, 128);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    
    ul#sortable li span { 
      position: absolute;
      margin-left: -1.3em;
    }
    
    .articles{
      width: 600px;
      height: 225px;
      display: flex;
      flex-direction: row;
      box-shadow: 4px 7px 29px 0px rgba(69,69,69,0.3);
      margin: 20px;
      border-style: ridge;
      border: 5px;
      border-color: black;
      align-items: center;
      justify-content: flex-start;
    }
  
    .articles-details{
      height: 100%;
    }
  
    .img-fluid.img-thumbnail{
      height: 225px;
      width: 300px;
    }
  
    .articles-img{
      height: 100%;
      width: 65%;
    }
  
    .articles-desc{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: justify;
      align-items: flex-start;
      flex-wrap:wrap;
    }
  
    .articles-desc.title{
      max-height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .articles-desc.fill{
      display: flex;
    }
  
    .img-fluid.details{
      all:unset;
      bottom: 0;
      max-height: 200px;
      max-width: 300px;
    }  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    div{
      font-size: 20px;
    }
      
    img{
      width: 35%;
    }
  
    .sidebar {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 5%; /* 5% from navbar template */
      left: 0; /* Stay on left */
      background-color:  rgb(255, 191, 53); /* Inherit from Navbar */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    }
            
    /* The sidebar links */
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      display: block;
      transition: 0.3s;
    }
            
    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
      background-color: #f1f1f1;
    }
            
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
            
    /* The button used to open the sidebar */
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: rgb(255, 191, 53);
      color: white;
      padding: 10px 15px;
      border: none;
    }
            
    .openbtn:hover {
      background-color: #444;
    }
            
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
      transition: margin-left .5s; /* If you want a transition effect */
      padding: 20px;
    }

    div#accordion{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: rgb(248, 194, 114);
    }

    ul#sortable { 
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60%;
      background-color: rgb(248, 194, 114);
    }

    ul#sortable li { 
      margin: 0px 0px 25px 25px;
      padding: 25px 250px 25px 25px;
      font-size: 25px;
      height: 25px;
      background-color: rgb(253, 224, 128);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    
    ul#sortable li span { 
      position: absolute;
      margin-left: -1.3em;
    }
  
    .articles{
      width: 925px;
      height: 250px;
      display: flex;
      flex-direction: row;
      box-shadow: 4px 7px 29px 0px rgba(69,69,69,0.3);
      margin: 20px;
      border-style: ridge;
      border: 5px;
      border-color: black;
      align-items: center;
      justify-content: flex-start;
    }
  
    .img-fluid.img-thumbnail{
      height: 250px;
      width: 325px;
    }
  
    .articles-details{
      height: 100%;
    }
  
    .articles-img{
      height: 100%;
      width: 65%;
    }
  
    .articles-desc{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: justify;
      align-items: flex-start;
      flex-wrap:wrap;
    }
  
    .articles-desc.title{
      max-height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .articles-desc.fill{
      display: flex;
    }
  
    .img-fluid.details{
      all:unset;
      bottom: 0;
      max-height: 200px;
      max-width: 300px;
    }  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    div{
      font-size: 25px;
    }
      
    img{
      width: 35%;
    }
  
    .sidebar {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 5%; /* 5% from navbar template */
      left: 0; /* Stay on left */
      background-color:  rgb(255, 191, 53); /* Inherit from Navbar */
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    }
            
    /* The sidebar links */
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }
            
    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
      background-color: #f1f1f1;
    }
            
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
            
    /* The button used to open the sidebar */
    .openbtn {
      font-size: 25px;
      cursor: pointer;
      background-color:  rgb(255, 191, 53);
      color: white;
      padding: 10px 15px;
      border: none;
    }
            
    .openbtn:hover {
      background-color: #444;
    }
            
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
      transition: margin-left .5s; /* If you want a transition effect */
      padding: 20px;
    }

    div#accordion{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: rgb(248, 194, 114);
    }

    ul#sortable { 
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60%;
      background-color: rgb(248, 194, 114);
    }

    ul#sortable li { 
      margin: 0px 0px 25px 25px;
      padding: 25px 250px 25px 25px;
      font-size: 25px;
      height: 25px;
      background-color: rgb(253, 224, 128);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    
    ul#sortable li span { 
      position: absolute;
      margin-left: -1.3em;
    }
    
    .articles{
      width: 925px;
      height: 250px;
      display: flex;
      flex-direction: row;
      box-shadow: 4px 7px 29px 0px rgba(69,69,69,0.3);
      margin: 20px;
      border-style: ridge;
      border: 5px;
      border-color: black;
      align-items: center;
      justify-content: flex-start;
    }
  
    .img-fluid.img-thumbnail{
      height: 250px;
      width: 325px;
    }
  
    .articles-img{
      height: 100%;
      width: 65%;
    }
  
    .articles-desc{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: justify;
      align-items: flex-start;
      flex-wrap:wrap;
    }
  
    .articles-details{
      height: 100%;
    }
  
    .articles-desc.title{
      max-height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .articles-desc.fill{
      display: flex;
    }
  
    .img-fluid.details{
      all:unset;
      bottom: 0;
      max-height: 200px;
      max-width: 300px;
    }  
  }   
     