{% extends "base_template.html" %}

  {% block body %}

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src = "https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

  <div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'Story9:Home' %}">Story 9</a>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}
      {% if user.is_authenticated %}
      <div style="bottom: 40px;">
        Hallo, {{user.name}} !
      </div>
      {% endif %}
  </div>
  
  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776;Sidebar</button>
    <div class="container" style="margin-top: 20px;">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <script src="/static/js/sidebar.js"></script>
  {% endblock %}