{% extends "base_story7.html" %}
    {% load tz %}

    {% block title %}
    Story 7
    {% endblock %}

    {% block content %}
    <script src = "/static/js/move_accord.js"></script>
    <!-- User attr == name, age -->
    <!-- Aktivitas attr == name, desc -->
    <!-- Organisasi attr == name, dateStart, dateEnd -->
    <!-- Prestasi attr == name, dateAcquired -->
    
        {% if Users %}
        {% for User in Users %}
        <div id="accordion">
            <div class="sortable">
                 <h3>{{User.name}}</h3>
                <div>
                    <ul id="sortable">
                        <li><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{User.aktivitas.name}}</li>
                        <li><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{User.organisasi.name}}</li>
                        <li><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{User.prestasi.name}}</li>
                    </ul>
                </div>
            </div>            
        {% endfor %}
        {% else %}
        <div id="accordion">
            <div class="sortable">
                 <h3>Username</h3>
                <div>
                    <ul id="sortable">
                        <li><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Aktivitas</li>
                        <li><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Organisasi</li>
                        <li><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Prestasi</li>
                    </ul>
                </div>
            </div>            
            <div class="sortable">
                 <h3>Another username</h3>
                <div>
                    <ul id="sortable">
                        <li><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Aktivitas</li>
                        <li><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Organisasi</li>
                        <li><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Prestasi</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

    {% endblock %}