{% extends "base_story9.html" %}
    {% load crispy_forms_tags %}

    {% block content %}

    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
  
    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
  
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{form|crispy}}
      <br>
      <button class="button" type="submit">Login</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p><a href="{% url 'Story9:SignUp' %}">Create a New Account today!</a></p>
    
{% endblock %}