{% extends "templateStory2.html" %}
    {% block title %} Story2-Home {% endblock%}
    {% block content%}
    <div class="textboxtitle">
        Story2-Home
    </div>
  
    <div class="container-fluid" style="margin-top: 50px; margin-left: 250px; margin-right: 250px;"> 
        <div class="textbox">
            <table class="table table-borderless">
                {% for MatKul in MatKuls %}
                <tr>
                    <td>Mata Kuliah      :<a href = "{% url 'Story2:details' MatKul.name %}">{{MatKul.name}}</a></td>
                </tr>    
                {% endfor %}
            </table>
        </div>
    </div>
   

    {% endblock %}