{% extends "base_story8.html" %}
    {% load crispy_forms_tags %}

    {% block content %}
    <script src="/static/js/search.js"></script>
    <form action="{% url 'Story8:Result'%}" method="GET" enctype="multipart/form-data" id="search-form">
        {{form|crispy}}
    </form>
    <table class="table" id="search_result">
        <thead>
          <tr>
            <th scope="col">Nama Buku</th>
            <th scope="col">Sampul Buku</th>
          </tr>
        </thead>
        <tbody>
            <!-- Data will be here -->
        </tbody>
    </table>
    {% endblock %}