{% extends "base_story9.html" %} 
    {% load crispy_forms_tags %}     

    {% block content %}
    <form method="POST" action="{% url 'Story9:SignUp' %}">
        {% csrf_token %}
        {{UserForm|crispy}}
        {{PhotoForm|crispy}}
        <br>
        <button class="button" type="submit">Sign Up</button>
    </form>
    {% endblock %}