{% extends "base_story7.html" %}
    {% load crispy_forms_tags %}

    {% block content %}
    <div>
        <form action="{% url 'Story7:Upload' %}" method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
            <div>
                {{userForm|crispy}}
            </div> 
            <br>
            {{ aktivitasForm.management_form }}
            {% for aktivitas in aktivitasForm %}
                <div>
                    {{aktivitas|crispy}}
                </div>
            <br>
            {% endfor %}
            {{ organisasiForm.management_form }}
            {% for organisasi in organisasiForm %}
            <div>
                <div>{{organisasi.name|as_crispy_field}}</div>
                <div class="input-group date" id="datetimepicker_organisasi_dateStart" data-target-input="nearest">
                    {{organisasi.dateStart|as_crispy_field}}
                    <div class="input-group-append" data-target="#datetimepicker_organisasi_dateStart" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <div class="input-group date" id="datetimepicker_organisasi_dateEnd" data-target-input="nearest">
                    {{organisasi.dateEnd|as_crispy_field}}
                    <div class="input-group-append" data-target="#datetimepicker_organisasi_dateEnd" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
            {{ prestasiForm.management_form }}
            {% for prestasi in prestasiForm %}
            <div>
                <div>{{prestasi.name|as_crispy_field}}</div>
                <div class="input-group date" id="datetimepicker_prestasi_dateAcquired" data-target-input="nearest">
                    {{prestasi.dateAcquired|as_crispy_field}}
                    <div class="input-group-append" data-target="#datetimepicker_prestasi_dateAcquired" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
            <button class="button" type="submit">Upload</button>
        </form>
    </div>
    {% endblock %}