/* Target Device */
        /* Extra small devices (portrait phones, more than 576px) */
        @media (min-width: 576px) {
            .decorationbox{
                background-color: rgb(255, 241, 213);
                right: 0px;
                padding: 25px 45px;
                position: fixed;
                margin-top: 60px;
            }
    
            .decorationcircle{
                background-color: rgb(255, 241, 213);
                right: 0px;
                padding: 35px;
                position: fixed;
                border-radius: 50%;
                bottom: 0px; 
                right: 0px;
            }
    
            /* This for all texts */
            .textbox{
                background-color: rgb(240, 219, 128);
                color: rgb(0, 0, 0);
                font-size: 10px;
                font-family: sans-serif;
                word-wrap: break-word;
                align-items: center;
                text-align: center;
            }

            .textboxtitle{
                background-color: rgb(216, 189, 67);
                color: rgb(0, 0, 0);
                font-size: 15px;
                font-family: sans-serif;
                word-wrap: break-word;
                align-items: center;
                text-align: center;
                margin-left: auto; 
                margin-right: auto;
            }
    
            /* Sidebar for multiple apps */
            .decorationsidebar{
                width: 40px;
                height: 100%;
                position: fixed;
                overflow: auto;
                font-size: 8px;
                background-color: rgb(238, 177, 11);
                border-color: rgb(58, 54, 54);
                border-width: 5px;
                left: 0;
            }
    
            .decorationsidebar a{
                display: block;
                color: black;
                font-family: sans-serif;
                text-align: center;
                padding: 14px 16px;
                border-color: rgb(58, 54, 54);
            }
    
            .decorationsidebar a:hover{
                background-color: rgb(241, 221, 106);
                font-weight: bold;
            }
            
            /* This for navbar */
            .navbar-custom{
                width: 100%;
                position: fixed;
                margin: 0;
                font-size: 15px;
                background-color: rgb(238, 177, 11);
                border-color: rgb(58, 54, 54);
                border-width: 5px;
                z-index: 2;
                overflow: hidden;
                left: 0;
            }

            ul.nav.navbar-nav li a{
                display: inline-block;
                color: black;
                font-family: sans-serif;
                text-align: center;
                padding: 14px 16px;
                border-color: rgb(58, 54, 54);
            }

            ul.nav.navbar-nav li a:hover{
                background-color: rgb(241, 221, 106);
                font-weight: bold;
            }

            img{
                width: 50%;
                height: auto;
            }
        }        

        /* Small devices (landscape phones, more than 768px) */
        @media (min-width: 768px) {
            .decorationbox{
                background-color: rgb(255, 241, 213);
                right: 0px;
                padding: 45px 75px;
                position: fixed;
                margin-top: 60px;
            }

            .decorationcircle{
                background-color: rgb(255, 241, 213);
                right: 0px;
                padding: 45px;
                position: fixed;
                border-radius: 50%;
            }

            /* This for all texts */
            .textbox{
                background-color: rgb(240, 219, 128);
                color: rgb(0, 0, 0);
                font-size: 12px;
                font-family: sans-serif;
                word-wrap: break-word;
                align-items: center;
                text-align: center;
            }

            .textboxtitle{
                background-color: rgb(216, 189, 67);
                color: rgb(0, 0, 0);
                font-size: 25px;
                font-family: sans-serif;
                word-wrap: break-word;
                align-items: center;
                text-align: center;
                margin-left: auto; 
                margin-right: auto;
            }

            /* Sidebar for multiple apps */
            .decorationsidebar{
                width: 80px;
                height: 100%;
                position: fixed;
                overflow: auto;
                font-size: 10px;
                background-color: rgb(238, 177, 11);
                border-color: rgb(58, 54, 54);
                border-width: 5px;
                left: 0;
            }

            .decorationsidebar a{
                display: block;
                color: black;
                font-family: sans-serif;
                text-align: center;
                padding: 14px 16px;
                border-color: rgb(58, 54, 54);
            }

            .decorationsidebar a:hover{
                background-color: rgb(241, 221, 106);
                font-weight: bold;
            }
            
            /* This for navbar */
            .navbar-custom{
                width: 100%;
                position: fixed;
                margin: 0;
                font-size: 15px;
                background-color: rgb(238, 177, 11);
                border-color: rgb(58, 54, 54);
                border-width: 5px;
                z-index: 2;
                overflow: hidden;
                left: 0;
            }

            ul.nav.navbar-nav li a{
                display: inline-block;
                color: black;
                font-family: sans-serif;
                text-align: center;
                padding: 14px 16px;
                border-color: rgb(58, 54, 54);
            }

            ul.nav.navbar-nav li a:hover{
                background-color: rgb(241, 221, 106);
                font-weight: bold;
            }

            img{
                width: 75%;
                height: auto;
            }
        }

        /* Medium devices (tablets, more than 992px) */
        @media (min-width: 992px) {
            .decorationbox{
                background-color: rgb(255, 241, 213);
                right: 0px;
                padding: 55px 95px;
                position: fixed;
                margin-top: 60px;
            }

            .decorationcircle{
                background-color: rgb(255, 241, 213);
                right: 0px;
                padding: 53px;
                position: fixed;
                border-radius: 50%;
            }

            /* This for all texts */
            .textbox{
                background-color: rgb(240, 219, 128);
                color: rgb(0, 0, 0);
                font-size: 25px;
                font-family: sans-serif;
                word-wrap: break-word;
                align-items: center;
                text-align: center;
            }

            .textboxtitle{
                background-color: rgb(216, 189, 67);
                color: rgb(0, 0, 0);
                font-size: 37px;
                font-family: sans-serif;
                word-wrap: break-word;
                align-items: center;
                text-align: center;
                margin-left: auto; 
                margin-right: auto;
            }

            /* Sidebar for multiple apps */
            .decorationsidebar{
                width: 120px;
                height: 100%;
                position: fixed;
                overflow: auto;
                font-size: 12px;
                background-color: rgb(238, 177, 11);
                border-color: rgb(58, 54, 54);
                border-width: 5px;
                left: 0;
            }

            .decorationsidebar a{
                display: block;
                color: black;
                font-family: sans-serif;
                text-align: center;
                padding: 14px 16px;
                border-color: rgb(58, 54, 54);
            }

            .decorationsidebar a:hover{
                background-color: rgb(241, 221, 106);
                font-weight: bold;
            }
            
            /* This for navbar */
            .navbar-custom{
                width: 100%;
                position: fixed;
                margin: 0;
                font-size: 15px;
                background-color: rgb(238, 177, 11);
                border-color: rgb(58, 54, 54);
                border-width: 5px;
                z-index: 2;
                overflow: hidden;
                left: 0;
            }

            ul.nav.navbar-nav li a{
                display: inline-block;
                color: black;
                font-family: sans-serif;
                text-align: center;
                padding: 14px 16px;
                border-color: rgb(58, 54, 54);
            }

            ul.nav.navbar-nav li a:hover{
                background-color: rgb(241, 221, 106);
                font-weight: bold;
            }

            img{
                width: 85%;
                height: auto;
            }
        }

        /* Large devices (desktops, more than 1200px) */
        @media (min-width: 1200px) {
            /* Decoration Stuff */
            .decorationbox{
                background-color: rgb(255, 241, 213);
                right: 0px;
                padding: 65px 115px;
                position: fixed;
                margin-top: 60px;
            }

            .decorationcircle{
                background-color: rgb(255, 241, 213);
                right: 0px;
                padding: 60px;
                position: fixed;
                border-radius: 50%;
            }

            /* This for all texts */
            .textbox{
                background-color: rgb(240, 219, 128);
                color: rgb(0, 0, 0);
                font-size: 20px;
                font-family: sans-serif;
                word-wrap: break-word;
                align-items: center;
                text-align: center;
            }

            .textboxtitle{
                background-color: rgb(216, 189, 67);
                color: rgb(0, 0, 0);
                font-size: 50px;
                font-family: sans-serif;
                word-wrap: break-word;
                align-items: center;
                text-align: center;
                margin-left: auto; 
                margin-right: auto;
            }

            /* Sidebar for multiple apps */
            .decorationsidebar{
                width: 160px;
                height: 100%;
                position: fixed;
                overflow: auto;
                font-size: 15px;
                background-color: rgb(238, 177, 11);
                border-color: rgb(58, 54, 54);
                border-width: 5px;
                left: 0;
            }

            .decorationsidebar a{
                display: block;
                color: black;
                font-family: sans-serif;
                text-align: center;
                padding: 14px 16px;
                border-color: rgb(58, 54, 54);
            }

            .decorationsidebar a:hover{
                background-color: rgb(241, 221, 106);
                font-weight: bold;
            }
            
            /* This for navbar */
            .navbar-custom{
                width: 100%;
                position: fixed;
                margin: 0;
                font-size: 15px;
                background-color: rgb(238, 177, 11);
                border-color: rgb(58, 54, 54);
                border-width: 5px;
                z-index: 2;
                overflow: hidden;
                left: 0;
            }
            
            ul.nav.navbar-nav li a{
                display: inline-block;
                color: black;
                font-family: sans-serif;
                text-align: center;
                padding: 14px 16px;
                border-color: rgb(58, 54, 54);
            }

            ul.nav.navbar-nav li a:hover{
                background-color: rgb(241, 221, 106);
                font-weight: bold;
            }
            a.navbar-brand{
                background-color: rgb(241, 221, 106);
                font-weight: bold;
            }

            img{
                width: 100%;
                height: auto;
            }
        }