<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    rel="stylesheet"
  />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgb(255, 191, 53)">
      <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'landing_page:Home' %}" style="background-color: rgb(255, 191, 53)">Home</a>
      <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
      >
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href= "{% url 'Story1:Home' %}">Story1</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href= "{% url 'Story2:Home' %}">Story2</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href= "{% url 'Story7:Home' %}">Story7</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href= "{% url 'Story8:Home' %}">Story8</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href= "{% url 'Story9:Home' %}">Story9</a>
          </li>
          </ul>
      </div>
      </div>
    </nav>
  </body>
</html>
